<!DOCTYPE html>
<html>
<head>
    <title><%= issue.title %> - Issue Tracker</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1><%= issue.title %></h1>
    <p>Status: <%= issue.status %></p>
    <p><%= issue.description %></p>
</body>
</html>
